[submodule "external/slang"]
	path = external/slang
	url = https://github.com/shader-slang/slang
[submodule "external/tree-sitter"]
	path = external/tree-sitter
	url = https://github.com/tree-sitter/tree-sitter
[submodule "external/tree-sitter-hlsl"]
	path = external/tree-sitter-hlsl
	url = https://github.com/tree-sitter-grammars/tree-sitter-hlsl
[submodule "external/nlohmann_json"]
	path = external/nlohmann_json
	url = https://github.com/nlohmann/json.git
	branch = master
